html {
  height: 100%;
  width: 100%;

}
body{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin : 0 ; 
}
#tool_bar{
  background-color: black;
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main_div{
  background-color: rgb(115, 115, 99);
  height: 100%;
  width: 90%;
  display: flex;
 justify-content: center;
 align-items: center;
}
#graphGenerator{
  background-color: white;
  width: 10%;
  width: 90%;
}
#node_area{
  background-color: red;
  position: relative;
  display: flex;
  width: 90%;
  height: 90%;
}
#tool_bar{
  display: flex;
  flex-direction: column;

}
#node_count{
  width: 90%;
  
}
.nodes{
  background-color: black;
  border: 10%;
  width: 14px;
  height: 14px;
  z-index: 6;
  position: absolute;
  border-radius: 50%;
}
.edges {
  background-color: white; 
  color: white;
  z-index: 4;
  position: absolute ; 
}